<!DOCTYPE html>
<html>
<head>
    <title>DronesTube Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>DronesTube Gigs</h1>
    <img id="banner" src="../static/img/banner.jpg" alt="DronesTube Gigs">
    
    <h2>Welcome to the DT Gigs!</h2>
    <p>Here you can find the best gigs for your drone. We have a lot of options for you to choose from. Check it out!</p>

    <h2>Our Gigs</h2>
    <p>Here are some of our gigs:</p>
</body>

</html>