<!DOCTYPE html>
<html>
<head>
    <title>DronesTube Jobs</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 60px;
            font-family: Roboto, sans-serif;
            text-align: center;
            padding: 10px;
            margin: 0;
        }
        h2 {
            margin-top: 20px;
        }
        img {
            width: 100%;
            height: auto;
        }
    </style
</head>

<body>
    <h1>DronesTube Gigs</h1>
    <img src="..\static\banner.jpg" alt="DronesTube Gigs" width="1820" height="420">
    
    <h2>Welcome to the DT Gigs!</h2>
    <p>Here you can find the best gigs for your drone. We have a lot of options for you to choose from. Check it out!</p>

    <h2>Our Gigs</h2>
    <p>Here are some of our gigs:</p>
</body>

</html>