<div class="container">    
    <div class="border-bottom" style="margin-bottom: 16px; padding-bottom: 10px;">
        <div class="row">    
            <div class="col-10">
                <h4 style="color:rgb(93, 92, 92)">
                    {{ gig['title'] }}
                </h4>
                <div>
                    {{ gig['description'] }}
                </div>
                <div>
                    <b>Location:</b> {{ gig['location'] }}
                </div>
                
                {% if 'salary' in gig %}
                <div>
                    <b>Salary:</b> {{ gig['salary'] }}
                </div>
                
                {% endif %}
            </div>
            
            <div class="col-2">
                <button type="button" class="btn btn-outline-primary mt-4 mb-4">Apply Now!</button>
            </div>
        </div>
    </div>
</div>